.upload-ontology-input-field-container{"data-project-creation-target" => "source"}
  = hidden_field_tag "project[source]", @project&.source || "", id: "project_source"
= hidden_field_tag "project[project_type]", "", data: { "project-creation-target": "projectTypeField" }
.upload-ontology-input-field-container{"data-project-creation-target" => "name"}
  = render Input::TextInputComponent.new(label: label_required(t("projects.form.title")), name: "project[name]", value: @project&.name)
.upload-ontology-input-field-container{"data-project-creation-target" => "acronym"}
  - is_readonly = @edit_mode || @project&.type == 'funded' || (@force_readonly && @force_readonly.include?('acronym'))
  = render Input::TextInputComponent.new(label: label_required(t("projects.form.acronym")), name: "project[acronym]", value: @project&.acronym, disabled: is_readonly)
  = hidden_field_tag "project[acronym]", @project&.acronym if is_readonly
.upload-ontology-input-field-container{"data-project-creation-target" => "description"}
  = render Input::TextAreaComponent.new(label: label_required(t("projects.form.description")), name: "project[description]", value: @project&.description, rows: 4)
.row
  .col-md-6
    .upload-ontology-input-field-container{"data-project-creation-target" => "startDate"}
      = render Input::DateComponent.new(label: t("projects.form.start_date"), name: "project[start_date]", value: @project&.start_date)
  .col-md-6
    .upload-ontology-input-field-container{"data-project-creation-target" => "endDate"}
      = render Input::DateComponent.new(label: t("projects.form.end_date"), name: "project[end_date]", value: @project&.end_date)

- unless @hide_fields && @hide_fields.include?('organizations')
  .organization-project-input-field{"data-project-creation-target" => "organizations"}
    = render NestedFormInputsComponent.new(object_name: t("projects.form.organization"), default_empty_row: true) do |component|
      - component.with_header do
        .d-flex.align-items-center
          %span= t("projects.form.organization")
          = render Display::InfoTooltipComponent.new(text: t("projects.form.organization_tooltip"))
      - component.with_template do
        .d-flex.flex-column{"data-controller" => "turbo-frame-error"}
          = turbo_frame_tag "project_organization_NEW_RECORD", data: { "turbo-frame-error-target": "frame", action: "turbo:before-fetch-response->turbo-frame-error#showError turbo:before-fetch-request->turbo-frame-error#hideError" } do
            .hide-if-loading
              = hidden_field_tag "project[organizations_attributes][NEW_RECORD]", nil, id: "project_organizations_attributes_NEW_RECORD"
              = render AgentSearchInputComponent.new(id: "NEW_RECORD", agent_type: 'organization', name_prefix: "project[organizations_attributes]", parent_id: "project_organization", show_affiliations: true, edit_on_modal: true, deletable: true)

- unless @hide_fields && @hide_fields.include?('contacts')
  .contact-project-input-field{"data-project-creation-target" => "contacts"}
    = render NestedFormInputsComponent.new(object_name: t("projects.form.contact")) do |component|
      - component.with_header do
        %div
          %span= t("projects.form.contact")
      - component.with_template do
        .d-flex.flex-column{"data-controller" => "turbo-frame-error"}
          = turbo_frame_tag "project_contact_NEW_RECORD", data: { "turbo-frame-error-target": "frame", action: "turbo:before-fetch-response->turbo-frame-error#showError turbo:before-fetch-request->turbo-frame-error#hideError" } do
            .hide-if-loading
              = hidden_field_tag "project[contacts_attributes][NEW_RECORD]", nil, id: "project_contacts_attributes_NEW_RECORD"
              = render AgentSearchInputComponent.new(id: "NEW_RECORD", agent_type: 'person', name_prefix: "project[contacts_attributes]", parent_id: "project_contact", show_affiliations: true, edit_on_modal: true, deletable: true)
.upload-ontology-input-field-container{"data-project-creation-target" => "homePage"}
  = render Input::UrlComponent.new(label: label_required(t("projects.form.homepage")), name: "project[homePage]", value: @project&.homePage)
.upload-ontology-input-field-container{"data-project-creation-target" => "keywords"}
  %label.text-input-label{for: "select_project_keywords"}
    = label_required(t("projects.form.keywords"))
  - keywords_array = @project&.keywords.is_a?(Array) ? @project.keywords : (@project&.keywords.to_s.split(',').map(&:strip) rescue [])
  = render SelectInputComponent.new(id: "project_keywords", name: "project[keywords][]", values: keywords_array, selected: keywords_array, multiple: true, open_to_add_values: true)
.upload-ontology-input-field-container.logo-url-container
  = render Input::UrlComponent.new(label: t("projects.form.logo_url"), name: "project[logo]", value: @project&.logo)
  .logo-preview.mt-2
    - has_logo = @project&.logo.present?
    .logo-preview-placeholder{"data-project-creation-target" => "logoPlaceholder", class: has_logo ? "d-none" : ""}
    %img.img-thumbnail{"data-project-creation-target" => "logoPreview", style: "max-height: 100px; max-width: 200px;", src: @project&.logo, class: has_logo ? "" : "d-none"}
.row.mt-4
  .col-md-6
    .upload-ontology-input-field-container{"data-project-creation-target" => "grantNumber"}
      - is_readonly = @edit_mode || (@force_readonly && @force_readonly.include?('grant_number'))
      = render Input::TextInputComponent.new(label: t("projects.form.grant_number"), name: "project[grant_number]", value: @project&.grant_number, disabled: is_readonly)
      = hidden_field_tag "project[grant_number]", @project&.grant_number if is_readonly
  - unless @hide_fields && @hide_fields.include?('funder')
    .col-md-6
      .upload-ontology-input-field-container{"data-project-creation-target" => "funder"}
        - funder = @project&.funders&.first
        = hidden_field_tag "project[funders_attributes][0][id]", funder&.id || "", id: "project_funders_attributes_0_id"
        = render Input::TextInputComponent.new(label: t("projects.form.funder"), name: "project_funder_display", value: funder&.name)
.upload-ontology-input-field-container.mt-3
  %label.text-input-label
    = t("projects.form.ontologies")
    %span.text-danger *
  .field.w-100
    - if @edit_mode && @project&.ontologyUsed.present?
      - selected_ontologies = @project.ontologyUsed && @project.ontologyUsed.map {|id| id.split('/').last } || []
      - locals = { sel_text: t('projects.form.select_ontologies'), selected_ontologies: selected_ontologies, form_object: :project, form_attribute: "ontologyUsed" }
      = ontologies_selector(id:'projects_page_ontologies_selector', name: 'project[ontologyUsed][]', selected: @usedOntologies)
    - else
      = ontologies_selector(id: 'project_ontologies', name: 'project[ontologyUsed][]', selected: @project&.ontologyUsed, ontologies: onts_for_select(include_views: true))