- @title = t("projects.new.title")
- current_step = params[:step].present? ? params[:step].to_i : 1

%div{:style => "margin:50px;"}
  .project-creation-container
    - if @errors
      .mb-4{:style => "width:650px; margin:auto"}
        - if @errors[:error]
          .alert.alert-danger
            %strong= t("projects.form.errors_on_form")
            %ul
              - if @errors[:error].is_a?(OpenStruct)
                %li= @errors[:error].acronym&.existence
              - else
                - @errors.each do |key, message|
                  %li= message
        - else
          = error_message_alert
    
    %div{:style => "display: flex; justify-content: center;"}
      .upload-ontology-card{:style => "width:650px;"}
        .upload-ontology-center
          .d-flex.justify-content-between
            %a{:href => "javascript:history.go(-1)"}
              = image_tag("arrow-back.svg", class: "lost-password-arrowback")
            .register-title-container
              %h2.register-title= t("projects.new.new_project")
              %hr#register-title-line/
            %div
          .upload-ontology-progress
            = render Layout::ProgressPagesComponent.new(pages_title: [t("projects.funding_search.title"), t("projects.details")]) do |c|
              - c.page do
                .project-step-content= render partial: 'projects/steps/funding_search'
              - c.page do
                .project-step-content= render partial: 'projects/steps/project_form'
  
  = hidden_field_tag :project_type, session[:project_type] || ""
  = hidden_field_tag :funding_source, session[:funding_source] || ""
  = hidden_field_tag :project_data, session[:project_data].to_json || "{}"

#submissionModal.modal.fade{'data-controller': 'project-summary', 'data-project-summary-target-modal-value': '#submissionModal'}
  .modal-dialog
    = render partial: 'projects/project_summary_modal'